# Django
SECRET_KEY=your-secret-key
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

DATABASE_NAME=#databases_name
DATABASE_USER=#your_username
DATABASE_PASSWORD=#your_password
DATABASE_HOST=localhost
DATABASE_PORT=#5432

# Timezone
TIME_ZONE=Africa/Nairobi